.root {
    margin: 120px;
}

.root header {
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    color: #1a4f76;
}

.root .todos-container {
    font-size: 18px;
    color: crimson;
}